python==3.9

joblib==1.1.0
numpy==1.22.3
pandas==1.4.2
wntr==0.5.0				
XlsxWriter==3.0.3
lxml==4.9.1
alive-progress==3.0.1    		

openpyxl==3.0.10
matplotlib==3.5.1
seaborn==0.12.2
scikit-learn==1.1.1
scipy==1.10.0
jupyter==1.0.0


